﻿<div class="container">
    <div class="row">
        <h3 class="center">Edit</h3>
    </div>
    <div class="col s12">
        <div class="center">
            <a class="btn" ui-sref="worklog.create">create</a>
            <a class="btn" ui-sref="worklog">list</a>
        </div>
    </div>
    <div class="col s12">
        <pre>
            {{ctrl.model | json}}
        </pre>
    </div>
</div>