﻿<div class="container">
    <div class="col s12">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Worklogs total</th>
                    <th>Time spent</th>
                    <th class="s1"></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="invoice in ctrl.model">
                    <td>{{invoice.Year}}</td>
                    <td>{{invoice.Month}}</td>
                    <td>{{invoice.Worklogs.length}}</td>
                    <td>{{invoice.TotalMinutesSpent}}</td>
                    <td><a ui-sref="invoice.print({year: invoice.Year, month: invoice.Month})" class="right"><i class="material-icons">input</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
