﻿<div class="container">
    <div class="col s12 no-print">
        <h3 class="center">Print</h3>
    </div>
    <div class="col s12">
        <ul class="collection">
            <li class="collection-item" ng-repeat="worklog in ctrl.model.Worklogs">
                {{worklog.Description}}
                <div class="right">
                    {{worklog.TimeInMinutes / 60 | number : 1}}h
                    <a ui-sref="worklog.edit({id:worklog.Id})" class="secondary-content no-print">
                        <i class="material-icons">send</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">Total hours: <span class="right">{{ctrl.model.TotalMinutesSpent / 60 | number : 1}}h</span></li>
            <li class="collection-item">Year: {{ctrl.model.Year}}</li>
            <li class="collection-item">Month: {{ctrl.model.Month}}</li>
            <li class="collection-item">Name:</li>
            <li class="collection-item">Surname:</li>
            <li class="collection-item">Signature:</li>
        </ul>
    </div>
</div>