﻿<div class="container">
    <div class="row">
        <h3 class="center">Create worklog</h3>
        <form ng-submit="ctrl.submit()" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="worklog_description" type="text" ng-model="ctrl.model.description" class="validate" required="">
                    <label for="worklog_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="worklog_minutes" type="number"  ng-model="ctrl.model.minutes" class="validate" required="">
                    <label for="worklog_minutes">Amount minutes</label>
                </div>
                <div class="input-field col s6">
                    <input type="date" ng-model="ctrl.model.date" class="validate" required="">
                </div>
            </div>
            <div class="row">
                <div class="center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Create
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>