/* styles in src/style directory are applied to the whole page */
nav .brand-logo img {
    height: 64px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}