﻿<div class="container">
    <div class="col s12">
        <h3 class="center">Worklog</h3>
        <div class="center">
            <a class="btn" ui-sref="worklog.create">create</a>
            <a class="btn" ui-sref="invoice">invoice</a>
        </div>
    </div>
    <div class="col s12">
        <ul class="collection">
            <li class="collection-item" ng-repeat="worklog in ctrl.worklogs">
                {{worklog.UtcDate | date : 'mediumDate' }}   {{worklog.Description}} ({{worklog.TimeInMinutes / 60 | number : 1}}h)
                <a ui-sref="worklog.edit({id:worklog.Id})" class="secondary-content">
                    <i class="material-icons">send</i>
                </a>
            </li>
        </ul>
    </div>
</div>